<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestConnectionString"
         connectionString="Server=DESKTOP-CTBUCT0\SQLEXPRESS;Initial Catalog=laba2;Encrypt=False;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.EntityClient"
         />
  </connectionStrings>
</configuration>
